body {
  background-color:#f4f4f4;
}
@font-face {
  font-family: "lantingxihei";
  src: url(https://htxq.oss-cn-beijing.aliyuncs.com/resources/font/FZLTXHJT.ttf);
}
.mui-content {
  padding:0 0.3rem;
  background-color:#f4f4f4;
}
.subject_title {
  margin:0.33rem 0 0.33rem 0.24rem;
  font-size:0.28rem;
  color:#323232;
  line-height:1;
  .subject_title_num {
    color:#A78B72;
    font-size:0.38rem;
  }
}
.subject_content {
  .list {
    padding:0.28rem 0.26rem;
    background-color:#ffffff;
    border-radius:0.06rem;
    width:100%;
    //height:1.28rem;
    margin-bottom:0.24rem;
    .list_top {
      position:relative;
      height:0.3rem;
      margin-bottom:0.17rem;
      div {
        position:absolute;
        font-size:0.26rem;
        line-height:0.3rem;
      }
      .top_num {
        color:#777777;
      }
      .top_name {
        color:#323232;
        left:1.19rem;
      }
      .top_phone {
        color:#323232;
        right:0;
      }
    }
    .list_bottom {
      position:relative;
      height:0.24rem;
      margin-bottom: .17rem;
      div {
        position:absolute;
        font-size:0.24rem;
        line-height:1;
      }
      .bottom_time {
        color:#8a8a8a;
      }
      .bottom_status {
        color:#eb2c2c;
        right:0;
      }
    }
    .list_footer {
      line-height: 0.24rem;
      .footer_norm {
        display: inline-block;
        font-size: 0.24rem;
        line-height: 1;
        color: #323232;
        word-break: break-all;
        span {
          display: inline-block;
        }
        .norm_title {
          color: #8a8a8a;
          vertical-align: top;
        }
      }
      .ml40 {
        margin-left: 0.4rem;
      }
    }
  }
}

.refunded {
  color:#525252 !important;
}
.signed_in {
  color:#A78B72 !important;
}

.more {
  text-align:center;
  margin-top:0.4rem;
  margin-bottom:0.5rem;
  font-size:0.3rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212 !important;
    .mui-content {
      background-color: #121212 !important;
    }
    .subject_title {
      color: rgba(255, 255, 255, 0.9) !important;
    }
    .subject_content {
      .list {
        background-color: #232323 !important;
        .list_top {
          .top_num {
            color: rgba(255, 255, 255, 0.56) !important;
          }
          .top_name, .top_phone {
            color: rgba(255, 255, 255, 0.9) !important;
          }
        }
        .list_bottom {
          .bottom_time, .refunded {
            color: rgba(255, 255, 255, 0.56) !important;
          }
        }
        .list_footer {
          .footer_norm {
            color: rgba(255, 255, 255, 0.56) !important;
            .norm_title {
              color: rgba(255, 255, 255, 0.9) !important;
            }
          }
        }
      }
    }
    .more {
      color: rgba(255, 255, 255, 0.9) !important;
    }
  }
}