<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>花田小憩读书卡</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection"content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="../bookClub/css/bookBuyCard.css?t=1">
    <link rel="stylesheet" href="../bookClub/css/cardComponent.css">
    <script>
        var now = new Date().getTime();
        document.write('<script language="javascript" src="https://htxq.oss-cn-beijing.aliyuncs.com/resources/js/jquery-2.0.3.min.js?t=' + now + '"><\/script\>');
        document.documentElement.style.fontSize = document.documentElement.clientWidth/7.5 + "px";
        window.onresize = function(){ document.documentElement.style.fontSize = document.documentElement.clientWidth/7.5 + "px" }
    </script>
    <script type="text/javascript" src="https://htxq.oss-cn-beijing.aliyuncs.com/resources/js/vue.min.js"></script>
    <script type="text/javascript" src="./js/login_public_750.js"></script>
    <script src="./js/cardComponent.js"></script>
</head>
<body>
<div id="main">
    <div class="card_in_app" v-cloak>
        <div class="in_header" v-if="customerId">
            <img class="header_bg" src="../bookClub/images/card_bg@3x.png" alt="">
            <div class="in_header_t">
                <img :src="detail.memberIcon" alt="">
                <div class="t_right">
                    <div class="right_title">&nbsp;</div>
                    <div class="right_tip">{{ detail.memberName }}</div>
                    <div class="right_guest" v-if="detail.isGuest">您可以把游客身份的读书卡剩余天数绑定到手机账号，绑定后可以在其他设备上观看</div>
                </div>
            </div>
            <div class="in_header_b">
                <div class="b_id">读书卡号码：{{ !detail.isMember ? "暂无" : detail.cardNumber }}</div>
                <div class="b_time">会员身份：{{ !detail.isMember ? "未开通" : (detail.isExpire ? "已过期" : detail.membership) }}</div>
            </div>
        </div>
        <div class="card_header" v-else>
            <img class="header_bg" src="../bookClub/images/qian@3x.png" alt="">
            <div class="header_content">
                <div class="content_title">&nbsp;</div>
                <div class="content_tip">听小花老师每周解读一本优质好书</div>
                <div class="content_price">
                    <span class="price_val">￥388</span>
                    <span class="price_txt">/年</span>
                </div>
            </div>
        </div>
        <div class="in_app_content">
            <card-content></card-content>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: "#main",
        data: {
            detail: '',
            customerId: ''
        },
        created: function() {
            this.customerId = getLocationHrefPara2("customerId");
            if (this.customerId) {
                this.getDetail(this.customerId);
            }
        },
        methods: {
            getDetail: function(customerId) {
                $.ajax({
                    url: window.location.origin + "/cactus/bookClub/query/member/card/detail?customerId=" + customerId,
                    type: 'GET',
                    dataType: 'json',
                    data: {}
                })
                    .done(function(json) {
                        if ( json.code == "000000" ) {
                            vm.detail = json.data;
                        } else {
                            showWrong(json.text);
                        }
                    });
            }
        }
    })
</script>
</body>
</html>
