<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>读书会详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="format-detection"content="telephone=no" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="../css/bookClubDetail.css">
    <script>
        var now = new Date().getTime();
        document.write('<script language="javascript" src="https://htxq.oss-cn-beijing.aliyuncs.com/resources/js/jquery-2.0.3.min.js?t=' + now + '"><\/script\>');
        document.documentElement.style.fontSize = document.documentElement.clientWidth/7.5 + "px";
        window.onresize = function(){ document.documentElement.style.fontSize = document.documentElement.clientWidth/7.5 + "px" }
    </script>
    <script type="text/javascript" src="https://htxq.oss-cn-beijing.aliyuncs.com/resources/js/vue.min.js"></script>
    <script type="text/javascript" src="../js/public_js/login_public_750.js"></script>
</head>
<body>
<div id="main">
    <div v-cloak>
        <div class="book_add_header clearfix" v-if="type !== 'inApp' && customerId">
            <div class="fl add_header_left">
                <img :src="detail.userHead" alt="">
                <div class="left_txt">
                    <div class="txt_name">
                        <span>{{ detail.userName }}</span>
                        <span>正在读第{{ detail.readBook }}本书</span>
                    </div>
                    <div class="txt_time">{{ detail.readTime }}</div>
                </div>
            </div>
            <div class="fr add_header_right">
                <img src="../images/book_detail_badge@3x.png" alt="">
                <div class="right_val">第{{ detail.readBook }}本</div>
            </div>
        </div>
        <div class="book_header" v-if="type !== 'inApp'">
            <div class="header_img">
                <img :src="detail.bookImage" alt="">
            </div>
            <div class="header_right">
                <p class="right_title">{{ detail.title }}</p>
                <p class="right_dec">{{ detail.intro }}</p>
                <p class="right_name">{{ detail.reader }}</p>
                <p class="right_read"><img src="../images/vfl@3x.png" alt="">{{ detail.playCount }}</p>
            </div>
        </div>
        <div class="book_audio" v-if="type !== 'inApp' && audioSrc">
            <div class="progress_box">
                <div class="audio_progress" ref="progress">
                    <div class="progress_ok" :style="{ width: leftVal }"></div>
                    <div class="progress_val"
                         ref="timeDot"
                         :style="{ left: leftVal }"
                         @touchstart.prevent="valStart"
                         @touchmove.prevent="valMove"
                         @touchend="valEnd">{{ playTime }}/{{ totalTime }}</div>
                </div>
                <div class="progress_right_null"></div>
<!--                <div class="progress_left_null"></div>-->
            </div>
            <div class="audio_controls">
                <div class="controls_icon" @click="minus">
                    <img src="../images/audio_back@3x.png" alt="">
                </div>
                <div class="controls_icon" @click="playAudio">
                    <img src="../images/audio_play@3x.png" v-if="!isPlay" alt="">
                    <img src="../images/audio_stop@3x.png" v-else alt="">
                </div>
                <div class="controls_icon" @click="add">
                    <img src="../images/audio_go@3x.png" alt="">
                </div>
            </div>
        </div>
        <div class="book_line" v-if="type !== 'inApp'"></div>
        <div class="book_detail" :class="{ in_app_detail: type == 'inApp' }">
            <img class="detail_img" :src="detail.coverImage" alt="">
            <p class="detail_title">作者介绍</p>
            <p class="detail_dec" v-html="detail.authorIntro"></p>
            <div class="detail_line"></div>
            <p class="detail_title">图书介绍</p>
            <p class="detail_dec" v-html="detail.bookIntro"></p>
            <div class="detail_line"></div>
            <p class="detail_title">出版信息</p>
            <p class="detail_dec" v-html="detail.publishIntro"></p>
        </div>
        <div class="book_fixed clearfix" @click="goBuy" v-if="type !== 'inApp'">
            <div class="fixed_txt fl">{{ detail.pageFooterTitle }}</div>
            <div class="fixed_btn fr">立即购买</div>
        </div>
        <audio ref="audio" loop :src="audioSrc" v-if="audioSrc"></audio>
    </div>
</div>
<script type="text/javascript" preload="auto" src="../js/bookClubDetail.js?t=1"></script>
</body>
</html>
